@charset "utf-8";
/* CSS Document */


body {
    background-color: rgb(231, 229, 229);
	
}


/* nevigation bar --------------------------------- */
body {
    
    font-family: "Lato", sans-serif;
}

.fixednav{
    position:fixed;
    z-index: 1;
    width:100% ;
    height: auto;
    padding-left:1%;
    padding-right: 1%;
    background-color:#292929;
}

.sidenav {
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E4E4;
    overflow-x: hidden;
    transition: 2s;
    padding-top: 130px;
    
}

.sidenav a {
    padding: 8px 8px 10px 2px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
    
}

.openNav span:hover{
    color: skyblue;
}


.sidenav a:hover {
    color: skyblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 9%;
    right: 20px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 100%) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






.dropbtn {
    background-color: transparent;
    color: #8D8D8B;
    width: 150px;
    height: 37px;
    font-size: 14px;
    border: 3px solid #8D8D8B;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    font-size: 16px;
    background-color: #8D8D8B;
    width: 250px;
    height: auto;
    box-shadow: 0px 8px 113px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    
}

.dropdown-content a:hover {background-color: skyblue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn  {background-color: transparent; }

/* --------------------- */

/* line behaind the text-------- */

h1 {
    font: 33px sans-serif;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: -1;
}


h1 span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #E6E4E4; 
    padding: 0 15px; 
}

 

h1.double:after {
    border-bottom: 1px solid #A8A8A8;
    /* -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red; */
    box-shadow: 0 1px 0 0 #A8A8A8;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 8%; right: 8%;
    
    z-index: -1;
}









/* ----------------------- */

div.content{
    padding-right: 11%;
    padding-left: 11%;
    text-align: center;
    
}

div.content p{
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 1.9;
}
div.content a{
    color: black;

}
div.content a:hover{
    color: skyblue;
}



/* footer table--------------- */

table a{
    color: black;
}
table a :hover{
    color: skyblue;
}

table td{
    border: 1px solid #8D8D8B;
    border-collapse: 10;
}